
<div class="container">
  <%= button_to "Recevoir un email", emails_path, action: "create", remote: true, class: "btn btn-success mb-3" %>
  <table class="table">
    <thead>
      <tr>
        <th class="row ml-1 border">Emails</th>
        <th class="col text-center">Email sélectionné</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @emails.each do |email| %>
          <%= render "email", email: email%>
        <% end %>
        <td id="email" class="col text-center container">
          <%= render "show"%>
        </td>
      </tr>
    </tbody>
  </table>
<div>    
